<div *ngIf="isLoading" class="loader">
  <p
    class="justify-content-center h-50 d-flex align-items-center display-4"
    style="
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    "
  >
    Cargando...
  </p>
</div>
<div *ngIf="!isLoading" class="container">
  <p class="display-3 text-center pt-5">
    {{ data.location.name }} <mat-icon>place</mat-icon>
  </p>

  <p class="display-1 text-center temp">
    {{ data.current.temp_c | number : "1.0-0" }}°
  </p>

  <div
    class="custom-card rounded p-3 d-flex align-items-center justify-content-center text-center"
  >
    <div class="w-50">
      <img
        class="w-100 large-icon"
        src="{{ data.current.condition.icon }}"
        alt="{{ data.current.condition.text }}"
      />
    </div>
    <div>
      <p class="display-4 text-center">{{ data.current.condition.text }}</p>
      <p class="d-flex align-items-center justify-content-center text-center">
        <mat-icon class="">thermostat</mat-icon>
        {{ data.forecast.forecastday[0].day.mintemp_c | number : "1.0-0" }}° /
        {{ data.forecast.forecastday[0].day.maxtemp_c | number : "1.0-0" }}°
      </p>
    </div>
  </div>

  <div
    *ngIf="data.alerts && data.alerts.alert.length > 0"
    class="custom-card rounded p-3 mt-3"
  >
    <div class="row p-3">
      <div class="col-2 d-flex justify-content-center align-items-center">
        <mat-icon style="transform: scale(2)">warning_amber</mat-icon>
      </div>
      <div class="col-10">
        <span>
          {{ data.alerts.alert[0].headline }}.
          {{ data.alerts.alert[0].category }}
        </span>
      </div>
    </div>
  </div>

  <div
    id="myCarousel"
    class="carousel slide custom-card mt-3 p-3"
    data-bs-ride="carousel"
    data-bs-interval="false"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <!-- Aquí van los 4 primeros divs -->
          <div class="col">Contenido 1</div>
          <div class="col">Contenido 2</div>
          <div class="col">Contenido 3</div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <!-- Aquí van los 4 siguientes divs -->
          <div class="col">Contenido 5</div>
          <div class="col">Contenido 6</div>
          <div class="col">Contenido 7</div>
        </div>
      </div>
      <!-- Repite los bloques .carousel-item para los siguientes grupos de 4 divs -->
    </div>
    <button
      class="carousel-control-prev d-none"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button
      class="carousel-control-next d-none"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>

  <div class="row p-3">
    <div class="p-4 custom-card rounded text-center">
      <mat-icon class="mx-auto d-block">wb_twilight</mat-icon>
      <!-- Comprobar con fecha actual para saber si mostrar el dia actual o mañana -->
      <p>Amanecer {{ data.forecast.forecastday[1].astro.sunrise }}</p>
      <hr />
      <mat-icon class="mx-auto d-block">wb_twilight</mat-icon>
      <p>Atardecer {{ data.forecast.forecastday[0].astro.sunset }}</p>
    </div>
  </div>

  <div class="row row-cols-2 p-4 custom-card rounded mx-1">
    <div>
      <div class="d-flex align-items-center justify-content-center">
        <mat-icon style="margin-right: 5px">water_drop</mat-icon>
        <span>Humedad </span>
      </div>
      <p class="text-center">{{ data.current.humidity }}%</p>
      <hr />
    </div>

    <div>
      <div class="d-flex align-items-center justify-content-center">
        <mat-icon>thermostat</mat-icon>
        <span> S. termica </span>
      </div>
      <p class="text-center">
        {{ data.current.feelslike_c | number : "1.0-0" }}°
      </p>
      <hr />
    </div>
    <div>
      <div class="d-flex align-items-center justify-content-center">
        <mat-icon style="margin-right: 5px">flare</mat-icon>
        <span>UV</span>
      </div>
      <p class="text-center">
        {{ data.current.uv }}
      </p>
      <hr />
    </div>
    <div>
      <div class="d-flex align-items-center justify-content-center">
        <mat-icon style="margin-right: 5px">heat_pump</mat-icon>
        <span>Presión</span>
      </div>
      <p class="text-center">{{ data.current.pressure_mb }}mbar</p>
      <hr />
    </div>
    <div class="col-12">
      <div class="d-flex align-items-center justify-content-center">
        <mat-icon style="margin-right: 5px">shower</mat-icon>
        <span> Probabilidad de lluvia </span>
      </div>
      <p class="text-center">
        {{ data.forecast.forecastday[0].day.daily_chance_of_rain }}%
      </p>
    </div>
  </div>
</div>
