h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.temp{
  font-size: 8rem;
}

.large-icon{
  transform: scale(1);
}

.custom-card{
  background-color: rgba(255, 255, 255, 0.088);
}

/* Loading animation */
.loader{
  width: 100%;
  height: 100%;
  background-image: url('https://i.pinimg.com/originals/dc/58/4d/dc584d08b22fe4b6459b9897c9f74a0e.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
