/* Reset css */
* {
  margin: 0px;
  padding: 0px;
}

body {
  background: linear-gradient(0deg, #063588, #9ecef5);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  border-bottom: 1px solid transparent;
}

html, body { height: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.scrollable-content {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.mat-icon {
  vertical-align: middle;
}
